<div class="row">
    <div class="col-12">
        <h2>Acerca de nosotros</h2>
    </div>
    <cas-info [titulo]= "titulo" [autor]="autor">
        <p id="intro">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed, a perspiciatis! Quaerat, dolores! Incidunt tempore ab asperiores eos esse reprehenderit laboriosam culpa corporis ut, ea beatae dolorum accusamus, quo quas?</p>
        <div id="extra">
            <p>Delectus nemo illum, in alias aspernatur repellat esse inventore dignissimos sint suscipit animi! Fugit beatae quas mollitia inventore minus officia sapiente animi asperiores, alias laboriosam molestiae sunt distinctio optio non.</p>
            <p>Necessitatibus odit ipsa doloremque tempora quas, voluptas, dolores fugit quo iste unde aliquam, quaerat ab voluptate quae non aperiam temporibus corrupti et! Earum, nulla soluta natus eaque provident mollitia id!</p>
            <p>Sed aut consequuntur molestias pariatur facere rerum perferendis cupiditate iusto quos, asperiores odio aperiam amet obcaecati excepturi maxime ipsum, ut blanditiis. Temporibus ex obcaecati labore totam officiis vero? Modi, dolor!</p>
            <p>Molestiae maxime impedit perspiciatis corporis itaque ex nesciunt fugiat animi alias perferendis voluptates delectus aperiam quisquam, enim voluptatibus qui vero dolorum deserunt laborum optio distinctio reprehenderit. Molestiae recusandae eos qui.</p>
        </div>  
    </cas-info>
</div>
