<h3>Libros by-service</h3>
<div class="form-group">
        <label for="nueva-tarea">Buscar en el titulo</label>
        <input type="text" class="form-control" id="nueva-tarea"
            [formControl]="fcClave">
</div>
<button type="button" class="btn btn-primary"
    (click)="onBuscar()">Buscar (Promesa)</button>
<button type="button" class="btn btn-primary"
    (click)="onBuscarRx()">Buscar (Observable)</button>

<div *ngIf="libros.length" class="mt-4">
    <h4>Libros sobre {{ clave }}</h4>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of libros">
            <p>{{ item.autores}}</p>
            <p>{{ item.titulo}}</p>
        </li>
    </ul>
</div>
